<div class="container">
    <blockquote>
        <p><em>جزئیات کالا: {{ .instance.Title }}</em></p>
    </blockquote>
    <div class="row">
        <form action="" method="POST">
            <label for="title">عنوان</label>
            <input type="text" placeholder="عنوان محصول را وارد نمایید" id="title" name="Title" value="{{ .instance.Title }}">
            <label for="biography">بیوگرافی</label>
            <textarea placeholder="بیوگرافی محصول را وارد نمایید" id="biography" name="Biography">{{ .instance.Biography }}</textarea>
            
            <label for="description">توضیحات</label>
            <textarea placeholder="توضیحات محصول را وارد نمایید" id="description" name="Description">{{ .instance.Description }}</textarea>
            <label for="categoryRefer">دسته بندی</label>
            <select id="categoryRefer" name="CategoryRefer">
                {{ range .categories }}
                <option value={{ .ID }}>{{ .Title }}</option>
                {{ end }}
            </select>
            <label for="url">لینک آدرس</label>
            <input type="text" placeholder="Url" id="url" name="Url" value="{{ .instance.Url }}" dir="ltr" />
            <div class="row" style="width:100%!important">
                <div class="column column-25">
                    <input class="button-primary" type="submit" value="ثبت">
                </div>
                <div class="column column-75" dir="ltr">
                    <a class="button button-outline" href="/products/{{ .instance.ID }}/images">تصاویر مربوطه</a>
                    <a class="button button-outline" href="/products/{{ .instance.ID }}/prices">لیست قیمت</a>
                    <a class="button button-outline" href="/products/{{ .instance.ID }}/features">ویژگی ها</a>
                </div>
            </div>
        </form>
    </div>
</div>